body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* --- header --- */

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;    
    min-width: 500px;
}

.header p {
    font-size: 18px;
    color:#e5e7eb;
}

.header h2 {
    margin-right: 30px;
    flex-shrink: 0;
}

.nav-bar {
    display: flex;
    margin: 0px 150px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.header-image {
    display: flex;
    margin: 70px 150px;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.header-image img {
    display: flex;
    max-width: 450px;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    flex-shrink: 0;
}

h1, h2 {
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}



/* --- end header --- */













* {
    border: 1px solid red;
}

/*